@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');

*{
    box-sizing: border-box;
    cursor: none;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Chilanka', cursive;
    background: #DECCCC;
}
.container{
    padding-top: 1px;
    width: 90%;
    margin: 0 auto;
}
main{
    display: none;
}
h1{
    font-family: 'Chilanka', cursive;
    font-size: 4.5rem;
}
/* This is for the Login selection */
#login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 25px;
    background: white;
    border-radius: 6px;
}
#login-form #login-label{
    font-size: 2rem;
    line-height: 2;
}
#login-form > #login-cats{
    border: 1px solid orange;
    width: 25vmin;
    height: 10vmin;
    font-size: 1.03rem;
    text-indent: 3vmin;
    font-family: 'Chilanka', cursive;
    margin: 15px 0;
}
#login-form > button{
    width: 25vmin;
    /* padding: 15px;
    font-size: 1.15rem;
    font-family: 'Chilanka', cursive;
    border: 1px solid orange;
    border-radius: 15px; */
}
/*--------------------------------*/
/* This is header banner stuff */
h2#welcome-message{
    display: inline-block;
    background: #FFB045;
    padding: 15px;
    border: 3px solid #FFCA83;
    font-size: 1.15rem;
    letter-spacing: 1px;
    line-height: 2;
}
h2#welcome-message span {
    font-weight: bold;
    color: #FDFFFC;
}
/* ----------- */
#location-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#location-container > .new-location-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-location-div > #new-location-form {
  display: none;
  flex-direction: column;
  justify-content: center;
}

#new-location-form > label {
  font-size: 1.15rem;
  /* padding: 7.5% 5% 5% 5%; */
}

.new-location-div > .new-btn {
  font-family: 'Chilanka', cursive;
  font-size: 1.15rem;
  padding: 7.5% 5% 5% 5%;
  width: 80%;
}

#location-container > div {
    background: #FFFFFF;
    width: 40%;
    /* min-width: 250px;
    max-width: 500px; */
    height: 450px;
    /* max-height: 450px;
    min-height: 350px; */
    padding: 15px 15px 15px 25px;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d1d1d1;
    box-shadow: 3px 3px 3px #a1a1a1, rgb(194, 194, 194) 1px 1px 0px 0px, 10px 10px 7px rgba(161, 161, 161, 0.6);
    border-radius: 8px;
}
#location-container > div p{
    text-align: left;
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0;
    padding: 0 15px;
}
#location-container > div .location-picture {
    max-width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#location-container > div .location-picture img {
    width: 100%;
}
.reactions{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.reactions > button {
    background: white;
    width: 3.75rem;
    height: 3.75rem;
    border: 2px solid #acacac;
    border-radius: 5px;
    font-size: 1.75rem;
    padding: 0;
    transition: all ease 500ms;
    transform: scale(1);
    transform-origin: bottom;
}
.reactions > button span{
    display: block;
    font-size: 1rem;
}

.reactions > button:hover {
    cursor: pointer;
    transform: scale(1.35);

}
.reactions > button.done {
    border: 3px solid #7DB9ED;
    background: #A7CCED;
    border-radius: 5px;
}
/* This is all for the overlay */
#single-location-container{
    display: block;
    background: rgba(243,236,2536,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all ease 500ms;
}

#single-location-container .single-location{
    width: 45%;
    height: 75%;
    max-width: 650px;
    max-height: 650px;
    margin: 6.25% auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: "photo reactions"
    "description reactions";
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.single-location > .location-photo{
    grid-area: photo;
    max-height: 500px;
    overflow: hidden;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.single-location > .location-photo img{
    max-width: 100%;

}
.single-location > .location-description{
    grid-area: description;
    background-color: #EFEFEF;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: scroll;
}
.single-location > .location-description p{
    text-align: left;
    line-height: 1.3;
    font-size: 1.15rem;
    padding: 15px;
    margin: 0;
}
.single-location > .location-description .edit-location-button{
    width: 25%;
    margin-bottom: 15px;
}
.single-location > .location-reactions{
    grid-area: reactions;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #DECCCC;
}
.single-location>.location-reactions button{
    background: white;
    width: 4rem;
    height: 4rem;
    line-height: 1.5;
    font-size: 1.3rem;
    border-radius: 50%;
}
.single-location > .location-reactions button.done {
    border: 3px solid skyblue;
    background: lightblue;
}

#edit-location-form{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#edit-location-form label{
    font-size: 1.15rem;
}
#edit-location-form button{
    width: 50%;
}
/*-----------------*/
/*This is for the cat paw action*/
:root {
    --mouse-x: calc(50vw + 1px);
    --mouse-y: calc(50vh + 1px);
}

.mouse-tracker {
    position: fixed;
    top: 0;
    left: 0;
    width: 5vmin;
    height: 7vmin;
    background: rgba(240, 182, 127, 0.9);
    border: solid 2px #000;
    border-bottom: none;
    border-radius: 50% 50% 0 0;
    /* opacity: 0.8; */
    transform: translate(-50%, 10%) translate(var(--mouse-x), var(--mouse-y));
    pointer-events: none;
    cursor: none;
}

.mouse-tracker svg {
    margin: 0.25vmin 0.5vmin;
}

.mouse-tracker svg path {
    fill: hotpink;
}
/*-----------------------*/
/* It's at the bottom because I want them to always persist*/
/*--*/
/* This is for the class button styles*/
.button-styles{
    padding: 15px;
    font-size: 1.15rem;
    font-family: 'Chilanka', cursive;
    border: 1px solid #E59957;
    border-radius: 15px;
    background: #FCB97D;
    box-shadow: 0 4px #E6A972;
}
.button-styles:hover, .button-styles:focus{
    transform: translateY(2px);
    box-shadow: 0 2px #E6A972;
}
.button-styles:active{
    transform: translateY(4px);
    box-shadow: 0 0 #E6A972;
}
/*This is for all thr forms */
input{
    width: 90%;
    height: 3rem;
    margin: 0.5rem auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.03rem;
    line-height: 1.5;
    padding: 0px 10px;
}
form label{
    line-height: 2;
    padding: 5px 0;
}
/*---------------------------------------*/
